<?xml version="1.0" encoding="utf-8" ?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://raw.github.com/sebastianbergmann/phpunit/master/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    
    <php><!--
        <env name="PHPUNIT_DSN"  value="mysql:host=127.0.0.1; dbname=test"/>
        <env name="PHPUNIT_USER" value="user"/>
        <env name="PHPUNIT_PASS" value="pass"/>
    --></php>

</phpunit>
